* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

div {
    margin: 0;
}

img {
  position: relative;
  top: 50%;
  left: 30%;
}

h1 {
  color: white;
  position: relative;
  left: 38%;
}

.uno {
  position: absolute;
  left: 15%;
  bottom: 10%;
}

.dos {
  position: absolute;
  right: 15%;
  bottom: 10%;
}

a {
  font-size: 40px;
  border: 2px solid blue;
}

audio {
  position: absolute;
  bottom: 7%;
  left: 40%;
}

.final {
  position: relative;
  left: 44%;
}
